* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('https://th.bing.com/th/id/OIP.3j_plRmHsiUmoWsu6RM3RgHaEo?pid=ImgDet&rs=1');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('https://hdqwalls.com/wallpapers/sunset-landscape-mountains-clouds-4k-jj.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://th.bing.com/th/id/OIP.5HWs3MKxXJCxHmPKmKTKeAHaEU?pid=ImgDet&rs=1');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
